{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('branches') }}" method=post class=add-branch>
      <dl>
        <dt>Branch Name:
        <dd><input type=text size=30 name=branch_name>
        <input type="hidden" name="_method" value="">
        <dd><input type=submit value="Submit">
      </dl>
    </form>
  {% endif %}
  {% if session.logged_in %}
    <form action="{{ url_for('machines') }}" method=post class=add-machine>
      <dl>
        <dt>Machine Name:
        <dd><input type=text size=30 name=machine_name>
        <dt>OS_ID:
        <dd><input type=text size=10 name=os_id>
        <input type="hidden" name="_method" value="">
        <dd><input type=submit value="Submit">
      </dl>
    </form>
  {% endif %}
  <table>
  <th colspan=7>Branches</th>
  {% for branch in branches %}
    <tr>
        <td colspan=3><form action="{{ url_for('branches') }}" method=post>
                        <input type="submit" value="delete" onClick=javascript:confirmDelete("{{ branch.name }}") />
                        <input type="hidden" name="id"  value={{ branch.id }} />
                        <input type="hidden" name="branch_name" value={{ branch.name }} />
                        <input type="hidden" name="_method" value="delete">
                      </form></td>
        <td colspan=4>{{ branch.name }}</td>
    </tr>
  {% else %}
    <tr colspan=7><td><em>No branches here so far</em></td></tr>
  {% endfor %}
  <th colspan=7>Machines</th>
  <tr>
    <th>ID</th>
    <th>DELETE METHOD</th>
    <th>OS_ID</th>
    <th>IS_THROTTLING</th>
    <th>CPU_SPEED</th>
    <th>NAME</th>
    <th>IS_ACTIVE</th>
    <th>DATE_ADDED</th>
  </tr>
  {% for machine in machines %}
    <tr>
        <td>
            <form action="{{ url_for('machines') }}" method=post>
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" value={{ machine.name }} name="machine_name" />
                <input type="hidden" value={{ machine.id }} name="id" />
                <input type="submit" value="delete" onClick=javascript:confirmDelete("{{ machine.name }}") />
            </form>
        </td>
        <td>{{ machine.os_id }}</td>
        <td>{{ machine.is_throttling }}</td>
        <td>{{ machine.cpu_speed }}</td>
        <td>{{ machine.name }}</td>
        <td>{{ machine.is_active }}</td>
        <td>{{ machine.date_added }}</td>
    </tr>
  {% else %}
    <tr colspan=7><td><em>No machines here so far</td></tr>
  {% endfor %}
  </table>
{% endblock %}
